/* Переменные */

:root {
    --primary-color: #0088cc;
    --primary-color-hover: #00a1f2;
    --shadow-primary-active: 0 0 0 2px rgba(0, 136, 204, 0.5);
    --secondary-color: #d2323d;
    --secondary-color-hover: #e36159;
    --shadow-secondary-active: 0 0 0 2px rgba(210, 50, 45, 0.5);
    --dark-color: #444444;
    --light-color: #ffffff;
    --neutral-color-hover: #F3F3F3;
    --shadow-neutral-color-active: 0 0 0 2px rgb(255, 255, 255);
    --left-menu-bgColor: #1D2127;
    --left-menu-bgColor-hover: #21262d;
    --page-content-bgColor: #f5f5f5;
    --border-form-elem: #ced4da;
    --border-form-elem-focus: #33bbff;
    --shadow-form-elem-focus: rgba(0, 136, 204, 0.3);
    --shadow-form-elem-error: rgba(214, 66, 66, 1);
    --menu-left-title-color: #888888;

    --border-radius: 4px;

    --speed-transition: 0.3s;
    --menu-top-height: 60px;
    --menu-left-width: 250px;
    --menu-left-width-collapse: 50px;

}

/* Сброс дефолтных стилей элементов */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, img, b, i,
ol, ul, li,
form, label, article, aside,
footer, header, nav, section, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

ol, ul, li {
    list-style: none;
}

input, textarea,
select, option {
    border-radius: 0;
    box-sizing: border-box;
    font-family: inherit;
}

input {
    appearance: none;
}

input::placeholder, textarea::placeholder {
    opacity: 0.5;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 0.5;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 0.5;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    opacity: 0.5;
}

input:focus, textarea:focus, select:focus, option:focus {
    outline: none;
}
input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: transparent;
}
input:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {
    color: transparent;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
}

input, textarea, select {
    margin-bottom: 2px;
}

/* Основные стили */

body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; */
    color: var(--dark-color);
    background-color: var(--page-content-bgColor);
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

.form-index-p {
    font-size: 24px;
    text-align: center;
}
.form-index-btn {
    margin: 10px auto;
    width: 200px;
    text-align: center;
}

.form-index {
    width: 600px;
    height: 400px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn {
    border-radius: var(--border-radius);
    font-weight: 600;
    padding: 15px;
    min-width: 100px;
    transition: all var(--speed-transition); 
    cursor: pointer;
}


.d-block {
    display: block;
}

.d-iblock {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

/* ---BUTTON---- */

.btn-ok {
    background: var(--primary-color);
    color: var(--light-color);
}

.btn-ok:hover {
    background: var(--primary-color-hover);
}

.btn-ok:active {
    box-shadow: var(--shadow-primary-active);
}

.btn-delete {
    background: var(--secondary-color);
    color: var(--light-color);
}

.btn-delete:hover {
    background: var(--secondary-color-hover);
}

.btn-delete:active {
    box-shadow: var(--shadow-secondary-active);
}

.btn-neutral {
    background: var(--light-color);
    color: var(--dark-color);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.btn-neutral:hover {
    background: var(--neutral-color-hover); 
}

.btn-neutral:active {
    box-shadow: var(--shadow-neutral-color-active);
    border:none;
}

.btn-group-3 {
    display: flex;
    justify-content: space-between;
}

.form-elements-container {
    padding: 30px;
    background: var(--light-color);
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}