/* Переменные */
.container {
    max-width: 600px;
    margin: 50px auto;
}

.main-content {
    margin-left: unset;
    margin-top:  unset;
    padding: 30px;
}

.form-index-p {
    font-size: 24px;
    text-align: center;
}
.form-index-btn {
    margin: 10px auto;
    width: 200px;
    text-align: center;
}

.form-index {
    width: 600px;
    height: 400px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.form-elements-container {
    padding: 30px;
    background: var(--light-color);
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}
