/* Переменные */

:root {
    --primary-color: #0088cc;
    --primary-color-hover: #00a1f2;
    --shadow-primary-active: 0 0 0 2px rgba(0, 136, 204, 0.5);
    --secondary-color: #d2323d;
    --secondary-color-hover: #e36159;
    --shadow-secondary-active: 0 0 0 2px rgba(210, 50, 45, 0.5);
    --dark-color: #444444;
    --light-color: #ffffff;
    --neutral-color-hover: #f9f9f9;
    --shadow-neutral-color-active: 0 0 0 2px rgb(255, 255, 255);
    --left-menu-bgColor: #1D2127;
    --page-content-bgColor: #f5f5f5;
    --border-form-elem: #ced4da;
    --border-form-elem-focus: #33bbff;
    --shadow-form-elem-focus: rgba(0, 136, 204, 0.3);

    --border-radius: 4px;

    --speed-transition: 0.3s;
    --menu-top-height: 60px;
    --menu-left-width: 250px;

  /* --page-header-bgColor: #242e42;
  --page-header-bgColor-hover: #1d2636;
  --page-header-txtColor: #dde9f8;
  --page-header-headingColor: #7889a4;
  --page-header-width: 220px;
  --page-content-bgColor: #f0f1f6;
  --page-content-txtColor: #171616;
  --page-content-blockColor: #fff;
  --white: #fff;
  --black: #333;
  --blue: #00b9eb;
  --red: #ec1848;
  --border-radius: 4px;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075); */
  --color_primary_10: #F5FBF3;
--color_primary_20: #EBF6E6;
--color_primary_40: #D0EBC7;
--color_primary_60: #9CD388;
--color_primary_80: #5AB639;
--color_primary_100: #4DB02A;


--color_secondary_10: #F5FCFF;
--color_secondary_20: #DEF3FE;
--color_secondary_40: #ADE0FC;
--color_secondary_60: #81CFFB;
--color_secondary_80: #5FC2FA;
--color_secondary_100: #3AB4F8;
--color_secondary_200: #073954;
--color_secondary_3300: #1D2127;


--color_neutral_0: #FFFFFF;
--color_neutral_10: #F7F7F7;
--color_neutral_20: #F0F0F0;
--color_neutral_40: #BFBFBF;
--color_neutral_60: #888888;
--color_neutral_80: #5A5A5A;
--color_neutral_100: #000000;


--color_error_20: #F6D3D3;
--color_error_40: #EDAAAA;
--color_error_60: #E17474;
--color_error_80: #D64242;
--color_error_100: #CC1414;


--color_success_20: #D8F4CF;
--color_success_40: #AEE799;
--color_success_60: #82DB62;
--color_success_80: #59CE2F;
--color_success_100: #33C300;


--color_warning_20: #FFFACE;
--color_warning_40: #FEF49E;
--color_warning_60: #FCED63;
--color_warning_80: #FCE83C;
--color_warning_100: #FAE105;
}

/* Сброс дефолтных стилей элементов */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, img, b, i,
ol, ul, li,
form, label, article, aside,
footer, header, nav, section, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

ol, ul, li {
    list-style: none;
}

input, textarea,
select, option {
    border-radius: 0;
    box-sizing: border-box;
    font-family: inherit;
}

input {
    appearance: none;
}

input::placeholder, textarea::placeholder {
    color: green;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: green;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: green;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: green;
}

input:focus, textarea:focus, select:focus, option:focus {
    outline: none;
}
input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: transparent;
}
input:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {
    color: transparent;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* Стилизация основных элементов */

body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; */
    color: var(--dark-color);
    background-color: var(--page-content-bgColor);
}

.btn {
    border-radius: var(--border-radius);
    font-weight: 600;
    padding: 15px;
    min-width: 100px;
    transition: all var(--speed-transition); 
}

input, textarea, select {
    padding: 10px;
    margin: 8px;
    min-width: 200px;
    border: 1px solid var(--border-form-elem);
    border-radius: var(--border-radius);
}

option {
    padding-top: 10px;
}
textarea {
    min-width: 300px;
    min-height: 100px;
}

input:focus, textarea:focus, select:focus {
    border-color: var(--border-form-elem-focus);
    box-shadow: 0 0 0 0.8px var(--shadow-form-elem-focus);
}

.d-block {
    display: block;
}
/* ---BUTTON---- */

.btn-ok {
    background: var(--primary-color);
    color: var(--light-color);
}

.btn-ok:hover {
    background: var(--primary-color-hover);
}

.btn-ok:active {
    box-shadow: var(--shadow-primary-active);
}

.btn-delete {
    background: var(--secondary-color);
    color: var(--light-color);
}

.btn-delete:hover {
    background: var(--secondary-color-hover);
}

.btn-delete:active {
    box-shadow: var(--shadow-secondary-active);
}

.btn-neutral {
    background: var(--light-color);
    color: var(--dark-color);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.btn-neutral:hover {
    background: var(--neutral-color-hover); 
}

.btn-neutral:active {
    box-shadow: var(--shadow-neutral-color-active);
    border:none;
}

.form-elements-container {
    padding: 30px;
    background: var(--light-color);
    border-radius: var(--border-radius);
}
/* MENU */

.menu-top {
    background: var(--light-color);
    height: 50px;
    width: calc(100% - var(--menu-left-width));
    position: fixed;
    left: var(--menu-left-width);
    top: 0;
}
            
.menu-left {
    background: var(--left-menu-bgColor); 
    /* background: var(--left-menu-bgColor);  */
    /* background: var(--color_secondary_200);  */
    height: 100%; 
    width: var(--menu-left-width);
    color: var(--light-color);
    position: fixed;
    top: 0;
    left: 0;

}

.main-content {
    margin-left: var(--menu-left-width);;
    margin-top:  var(--menu-top-height);
    padding: 20px;
}

.menu-left__item-link {
    transition: all var(--speed-transition);
}

.menu-left__item-link:hover {
    color: var(--primary-color-hover);
}           

