@import url('pagination.css');

.orders {
    margin-top: 10px;
    margin-bottom: 20px;
    background: var(--light-color);
    border-radius: var(--border-radius);
    width: 100%; 
    padding: 10px;
    overflow-x: auto;
}

.list-orders_products {
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-orders_products:hover {
    white-space: unset;
}

#list-orders td { 
    padding: 15px 5px;
}

.list-orders_status {
    padding: 5px;
    color: var(--light-color);
    font-weight: 600;
    white-space: nowrap;
}

/* статус создан */
.status0 {
    background-color: var(--secondary-color);
}

/* статус просмотрен */
.status1 {
    background-color: #ff6600;
}

/* статус подтверждён */
.status2 {
    background-color: var(--primary-color-hover);
}

/* статус отменён */
.status3 {
    background-color: #666666;
}

/* статус завершён */
.status4 {
    background-color: #009900;
}

/* статус не дозвонились */
.status5 {
    background-color: #ff0000;
}

.row-status0 {
    /* background: rgba(255, 0, 0, 0.1)!important;     */
    background: rgba(255, 255, 0, 0.2)!important;
    border: 1px solid white;
}
#search {
    width: 250px;
}

#list-orders th[data-sort]:after {
    right: 0;
    top: calc(50% - 0.9rem/2);
    content: "↓";
    opacity: 0.3;
    position: absolute;
    font-family: sans-serif;
}
#list-orders th[data-sort]:before {
    right: 6px;
    top: calc(50% - 0.9rem/2);
    content: "↑";
    opacity: 0.3;
    position: absolute;
    font-family: sans-serif;
}

#list-orders th[data-sort="desc"]:after {
    opacity: 1;
}

#list-orders th[data-sort="asc"]:before {
    opacity: 1;
}

.info-table {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 10px;
}


