<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


<div><input id="file" type="file" onchange="loadFile()"></div>
<div><progress id="progress" max="100" value="0"></progress></div>


<div><input type="text" id="field" name="field" value="значение field"></div>
<div><input type="number" id="number" name="number" value="10"></div>
<div><textarea name="text" id="textarea" cols="30" rows="10">Здесь значение textarea</textarea></div>

<div><button id="send_button" onclick="sendFile()">json</button></div>
<div><button id="send_button" onclick="sendFile2()">x-www-form-urlencoded</button></div>



<script>

    let field = document.getElementById('field').value;
    let numberField = document.getElementById('number').value;
    let textareaField = document.getElementById('textarea').value;




    let photoFileData;
    let photoFileName;
    const loadFile = () => {
        let fileReader = new FileReader();
        let progressBar = document.getElementById('progress');
        let file = document.getElementById('file').files[0];

        progressBar.value = 0;
        fileReader.onprogress = (event) => {
            progressBar.value = event.loaded;
            progressBar.max = event.total;
        }

        fileReader.onload = (event) => {
            photoFileData = fileReader.result;
            photoFileName = file.name;
        }

        photoFileData = null;
        photoFileName = null;
        fileReader.readAsDataURL(file);
    }



    // я вообще собиралась делать так ))) тогда все данные попадают в массив $_POST
    const sendFile2 = () => {
        let request = new XMLHttpRequest();

        request.open('POST', 'http://localhost/pages/test.php', false);
        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        let obj = "photoFileData=" + photoFileData + "&photoFileName=" + photoFileName + "&field=" + field + "&number=" + numberField + "&text=" + textareaField;
        request.send(obj);
    }


    // но могу и так, но тогда массив $_POST пустой
    const sendFile = () => {
        let request = new XMLHttpRequest();

        request.open('POST', 'http://localhost/pages/test.php', false);

        request.setRequestHeader('Content-Type', 'application/json');
        
        let obj = JSON.stringify({
            photoFileData,
            photoFileName,
            field,
            numberField,
            textareaField
        });
        request.send(obj);
    }
</script>
</body>
</html>